*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body {
    background: #fafafa;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: white;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid rgb(213, 213, 213);
}
.logo .brand_logo{
    height: 55px;
    padding-top: 0.5rem;
    padding-left: 15rem;
}
.other_logo{
    float: right;
    padding-right: 15rem;
}
.icon img{
    width: 28px;
    margin-right: 1rem;
    float :left;
    margin-top: 1.1rem;
}
.other_logo .my_account{
    width: 28px;
    border-radius: 5rem;
}
.other_logo .icon li{
    float: left;
}
.main_container {
    width: 600px; /* Set your desired width */
    margin: 10px auto; /* This will center the div horizontally */
}
.main_container .middle_Top{
    width: 600px;
    height: 55px;
    background: white;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.middle_Top .my_photo{
    width: 40px;
    height: 40px;
    margin: 0.2rem 0.2rem 0;
    border-radius: 3rem;
    float: left;
}
.middle_Top .my_account{
    width: 90px;
    padding: 0.5rem 0;
    display: inline-block;
    font-weight: bold;
}
.middle_Top .my_account a{
    color: black;
}

.middle_Top .dot{
    width: 37px;
    float: right;
    margin: -1.7rem auto;
    padding-right: 1rem;

}
.main_container .middle_Box{
    display: flex;
    background: white;

    align-items: center;
    flex-direction: row;
    height: 100%;
}
.middle_Box .photo{
    max-width:100%;
    width: 600px;
    height: auto;
    object-fit: cover;
}
.middle_review{
    width: 600px;
    height: auto;

    background: white;
    border: 0.5px solid rgb(213, 213, 213);
}
.review_icon .heartBtn{
    width: 3rem;
    float: left;
    border: none;
    background: white;
    margin-top: 0.6rem;
    cursor: pointer;
}
.review_icon .xi-heart-o ::after{
    margin: 0.4rem;
    height: 2rem;
    float: left;
    border: none;
    cursor: pointer;
}

.review_icon .spBubble{
    width: 3rem;
    float: left;
    border: none;
    background: white;
    cursor: pointer;
}
.review_icon .xi-speech-o{
    width: 0.8rem;
    margin: 0.6rem;
    float: left;
}
.review_icon .send{
    margin: 0.6rem;
    border: none;
    background: white;
    cursor: pointer;
    float: left;
}
.review_icon .location-arrow{
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.7rem;
    float: left;
}
.review_icon .bookmark{
    float: right;
    border: none;
    background: white;
    cursor: pointer;

}
.review_icon .xi-bookmark-o{
    width: 1.9rem;
    height: 1.6rem;
    margin: 0.5rem;
    float: right;
}
.middle_review .like_count{
    display: block;
    text-indent: 0.5rem;
    font-size: small;
    font-weight: bold;

}

.comment_part .comment{
    width: 390px;
    height: 4.4rem;
    background: white;
    text-indent: 0.5rem;
    display: inline;
}
.comment_part .likeHeart{
    width: 50px;
    height: 30px;
    float: right;
    background: none;
    border: none;
    cursor: pointer;
}
.comment_part .removeComment{
    width: 50px;
    height: 30px;
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    padding-left:4rem;
}

.li{/*추가 댓글이 많아지면 스크롤바 생성*/
    height: 90px;
    overflow: auto;
}
.user{
    margin-left: 0.5rem;
    font-weight: bold;
}
.userComment{
    padding-left: 0.2rem;
    font-size: small;
}
.before{
    margin-left: 0.5rem;
    font-size: x-small;
    color: #949393;
}

/*clear:both 속성은 float속성을 해제.
float 속성 적용시 이후에 오는 다른 요소들까지같은 속성이 전달되어 둘러싼
형태가 되거나 영역 아래로 들어간다
부모 태그에 class name을 주고, ::after 가상 요소 이용,*/
.fixedclear:after{
    content:"";
    display: block;
    clear: both;
}

/* Styling for the submenu */
.submenu {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
    margin-left: 500px; /* Add this line to position the submenu to the right */
}

/* Styling for the dots (optional) */
.dot {
    font-size: 24px;
    color: #555;
    cursor: pointer;
}

/* Show the submenu when hovering over the dot element */
.dot:hover + .submenu {
    display: block;
}

/* Style the submenu links */
.submenu ul li {
    list-style: none;
}

.submenu ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 5px;
}

.submenu ul li a:hover {
    background-color: #f9f9f9;
}

.btn {
    display: inline-block;
    position: absolute;
    background-color: #cccccc;

    padding: 10px;
    color: #ffffff;
}

.prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: #ffffff;
    z-index: 1; /* Ensure buttons are on top of images */
    cursor: pointer;
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: #ffffff;
    z-index: 1; /* Ensure buttons are on top of images */
    cursor: pointer;
}