<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main_page</title>
    <link rel = "stylesheet" href="/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
<script>
    $(document).ready(function () {
        start(); // start 함수를 호출합니다.
    });
</script>
<header class="logo fixedclear">
    <a href="/tdl/post"><img class = "brand_logo" src="/css/image.png" alt="logo"></a>
    <div class = "other_logo">
        <ul class="icon">
<!--            <li>-->
<!--                <a href="main.html"><img class = "home" src="img/home.png" alt="logo"></a>-->
<!--            </li>-->
            <li>
                <a href="/tdl/post"><img class = "plus" src="/css/home.png" alt="plus"></a>
            </li>
            <li>
                <a id="addPost" onclick="goAddPost()"><img class = "plus" src="/images/addPost.png" alt="plus"></a>
            </li>
            <li>
                <a id="signup-text" href="/tdl/view/user/signup"><img class = "heart" src="/css/signup.png" alt="heart"   ></a>
                <a id="mypage-text" href="/tdl/user/profile"><img class = "heart" src="/css/profile.png" alt="heart" ></a>
            </li>
            <li>
                <a id="login-text" href="/tdl/view/user/login"><img class="my_account" src="/css/login.png" alt="my_account" ></a>
                <a id="logout-text" href="javascript:logout()"><img class="my_account" src="/css/logout.png" alt="my_account" ></a>
            </li>
        </ul>
    </div>
</header>
<div class="main_container" th:each="post : ${postList}">
    <input type="hidden" th:id="'post'+${post.getPostId()}">
    <div class ="middle_Top">
        <ul>
            <li>
                <a href="#"><img class="my_photo" th:src="${post.getUserImage()}" alt="my_photo"></a>
            </li>
        </ul>
        <ul>
            <li class="my_account">
                <a href="#" type="text" th:text="${post.getProfilename()}"></a>
            </li>
        </ul>
        <ul>
            <li th:if="${post.getProfilename()}">
                <a href="#"><img class="dot" src="img/dot.png" alt="dot"></a>
            </li>
        </ul>
    </div>
    <div class="slide" style="width: 600px; height: 600px; overflow: hidden; position: relative; border: 1px solid rgb(213, 213, 213);">
        <div class="middle_Box">
            <img th:each="postImage : ${post.getPostImageList()}" class = "photo" th:src="|https://sparta-tdl-bucket.s3.ap-northeast-2.amazonaws.com/${postImage.getFileName()}|" alt="photo">
        </div>
        <a class="btn prevBtn">Prev</a>
        <a class="btn nextBtn">Next</a>
    </div>

    <div class="middle_review">
        <div class="review_icon">
            <ul class="fixedclear"> <!--좋아요 부분이 아이콘 밑으로 내려가면 clear both를 주어야한다-->
                <button class="heartBtn" onclick="addLike()"><i class=" xi-heart-o xi-2x"></i>
                </button>
                <li>
                    <button class="spBubble" th:onclick="'getPostDetail('+${post.getPostId()}+')'"><i class="xi-speech-o xi-2x"></i></button>
                </li>
            </ul>
        </div>
        <div class="comment_part">
            <ul>
                <li class="like_count" onchange="countPlus()" th:text="|좋아요 ${post.getLikesCount()} 개|">
                </li>
            </ul>
            <div>
                <ul>
                    <li class="li">
                        <div>
                            <div class="comment">
                                <span class="user" th:text="${post.getProfilename()}"></span>
                                <span class="userComment" th:text="${post.getContent()}"></span>
                            </div>
                        </div>
                        <time class="before" th:text="${post.getCreatedAt()}"></time>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("click", function (event) {
        const submenu = document.querySelector(".submenu");
        const dot = document.querySelector(".dot");
        if (event.target === dot) {
            // If the "dot" element is clicked, toggle the display of the submenu
            submenu.style.display = submenu.style.display === "block" ? "none" : "block";
        } else if (!submenu.contains(event.target)) {
            // If a click happens outside the "dot" element and the submenu, hide the submenu
            submenu.style.display = "none";
        }
    });

    // 각 슬라이드 컨테이너를 가져옵니다.
    const slideContainers = document.querySelectorAll('.slide');

    // Prev와 Next 버튼에 대한 이벤트를 추가합니다.
    slideContainers.forEach((container) => {
        console.log("이벤트 추가");
        const middleBox = container.querySelector('.middle_Box');
        const prevBtn = container.querySelector('.prevBtn');
        const nextBtn = container.querySelector('.nextBtn');
        let currentIndex = 0; // 현재 보이는 이미지의 인덱스를 추적합니다.

        // 초기에 prevBtn 비활성화
        prevBtn.disabled = true;

        prevBtn.addEventListener('click', () => {
            // 이전 이미지로 이동합니다.
            console.log("이전이미지");
            currentIndex = (currentIndex - 1 + middleBox.childElementCount) % middleBox.childElementCount;
            updateSlide();
        });

        nextBtn.addEventListener('click', () => {
            // 다음 이미지로 이동합니다.
            console.log("다음이미지");
            currentIndex = (currentIndex + 1) % middleBox.childElementCount;
            updateSlide();
        });

        // 현재 보이는 이미지를 갱신하는 함수입니다.
        function updateSlide() {
            const slideWidth = container.clientWidth;
            const slideDistance = -currentIndex * slideWidth;
            middleBox.style.transform = `translateX(${slideDistance}px)`;

            // 추가: 현재 인덱스가 0보다 크거나 같으면 prevBtn 활성화
            if (currentIndex <= 0) {
                prevBtn.disabled = true;
            } else {
                prevBtn.disabled = false;
            }

            // 추가: 현재 인덱스가 마지막 이미지의 인덱스보다 작으면 nextBtn 활성화
            if (currentIndex >= middleBox.childElementCount - 1) {
                nextBtn.disabled = true;
            } else {
                nextBtn.disabled = false;
            }
        }

    });


    // 페이지가 로드될 때 start 함수를 호출합니다.
    document.addEventListener("DOMContentLoaded", function () {
        start();
    });

    function start() {
        const auth = getToken();
        console.log("auth=", auth);
        if (auth === '') {
            document.getElementById('login-text').style.display = 'block';
            document.getElementById('signup-text').style.display = 'block';
            document.getElementById('logout-text').style.display = 'none';
            document.getElementById('mypage-text').style.display = 'none';
        } else {
            document.getElementById('login-text').style.display = 'none';
            document.getElementById('signup-text').style.display = 'none';
            document.getElementById('logout-text').style.display = 'block';
            document.getElementById('mypage-text').style.display = 'block';
            const postBoxes = document.getElementsByClassName('postbox');
            for (let i = 0; i < postBoxes.length; i++) {
                postBoxes[i].style.display = 'block';
            }
        }
    }

    function getToken() {
        let auth = getCookie('Authorization');
        if (auth === undefined || auth == null) {
            return '';
        }
        return auth;
    }

    function getCookie(cookieName) {
        var name = cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookieArray = decodedCookie.split(';');
        for (var i = 0; i < cookieArray.length; i++) {
            var cookie = cookieArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
    }

    //로그아웃
    function logout() {
        let authCookie = getCookie('Authorization');
        console.log(authCookie);
        $.ajax({
            url: 'http://localhost:8080/tdl/user/logout',
            type: 'POST',
            headers: {
                'Authorization': authCookie
            },
            processData: false,
            contentType: false,
            success: function(response) {
                Cookies.remove('Authorization', {path: '/'}); // 쿠키삭제
                // 요청 성공 시 처리할 로직
                alert("로그아웃 성공 !");

                window.location.reload();

            },
            error: function(xhr, status, error) {
                console.log(xhr);
                alert("로그아웃 실패 !");
            }
        });
    }

    function getPostDetail(postId) {
        const auth = getToken();
        $.ajax({
            type: "GET",
            url:"/tdl/post/"+postId,
            contentType:"application/json",
            data:{Authorization: auth},
            success:function (response){
                window.location.href = "/tdl/post/"+postId;
            }
        })
    }

    function goAddPost() {
        const auth = getToken();
        $.ajax({
            type: "GET",
            url:"/tdl/post/add",
            contentType:"application/json",
            data:{Authorization: auth},
            success:function (response){
                window.location.href = "/tdl/post/add";
            }
        })
    }
</script>
</body>
</html>